$primary-color: black;
$secondary-color: #fff;
$more-color: #3e7194;
$error-color: #d9534f;
$success-color: hsl(120, 39%, 54%);

.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form-wrapper {
  padding: 24px;
  min-width: 500px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.logo {
  width: 100%;
  height:96px;
  object-fit: contain;
}

h2 {
  margin: 24px 0 36px 0;
  text-align: center;
  font-size: 28px;
  font-family: Futura;
  font-weight: 500;
  line-height: 1.2;
}

.p-field {
  position: relative;
  margin-bottom: 24px; // Space between fields

  .p-float-label {
    position: relative;
    box-sizing: border-box;

    input {
      display: inline-flex;
      align-items: baseline;
      padding: 0 16px;
      position: relative;
      box-sizing: border-box;
      border: 1px solid #ccc; // Default border
      border-radius: 4px;
      height: 48px !important;
      text-align: left;
      box-shadow: none;

      // Error styling
      &.error-border {
        border-color: $error-color; // Error border color
        box-shadow: 0 0 5px rgba($error-color, 0.5); // Optional shadow effect
      }

      // Placeholder styling
      &::placeholder {
        color: transparent; // Hide the placeholder
      }

      // Focus styling
      &:focus {
        border-color: $error-color; // Change color on focus
        outline: none;
      }

      // Floating label trigger
      &:not(:placeholder-shown) + label,
      &:focus + label {
        top: 0px; // Move label up closer to the border
        font-size: 12px; // Smaller font size
        color: $error-color; // Change label color on focus
      }
    }

    label {
      position: absolute;
      left: 16px; // Align with input padding
      top: 50%; // Start vertically centered
      pointer-events: none; // Prevent label from capturing clicks
      background-color: $secondary-color; // Match input background color
      transition: all 0.3s ease; // Smooth transition for label movement
      color: #aaa; // Default label color
      padding: 0 4px; // Add some padding for a better background
    }
  }

  // Error messages
  .p-error {
    color: $error-color; // Define your error color (e.g., red)
    font-size: 12px; // Adjust font size for better readability
    margin-top: 5px; // Add space above the error message
    display: block; // Ensure the message takes the full width
  }
}



.p-field.password-field {
  position: relative;

  .p-float-label {
    position: relative;
    box-sizing: border-box;

    .p-button {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 30px;
      height: 30px;
      cursor: pointer;
      background: transparent;
      color: $primary-color;
      border: 0;

      &:hover {
        background: $secondary-color;
        color: $primary-color;
      }
    }
  }
}

.forgot-password-link {
  margin-top: 15px;
  font-size: 12px;

  a {
    color: $primary-color;
    text-decoration: none;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }
}

.login-btn {
  border-radius: 8px;
  min-width: 150px;
  background-color: $more-color;
  border: 0;
  height: 42px;
  color: $secondary-color;
  transition: background-color 0.3s;

  &:hover {
    background-color: rgb(77, 123, 154);
  }
}